{% extends 'base.html' %}


    {% block head %}
        <title>Profile</title>
        <link href="/static/accounts/profile.css" type="text/css" rel="stylesheet">
    {% endblock %}



    {% block body %}
        {% block first %}

        
	<div class = "eznav">
            <li>        
                <span id = "bcrumb"><a href="{% url 'home:home' %}">Blog</a></span><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
		<span id = "bcprofile">Profile</span>
            </li>
        </div>
            
	{% if messages %}
	{% for message in messages %}
		<div class = "" role = "alert">
		    <center>{{ message }}</center>
		</div>
	{% endfor %}
	{% endif %}

	<h1>{{user}}</h1>
	<hr id = "titlehr">
	<span id = "fullname">{{ user.first_name|title}}&nbsp;{{user.last_name|title}}, joined on {{user.date_joined}}</span>
	
	<hr id = "titlehr">	
	<a id = "articlelink" href="{% url 'accounts:view_profile_with_pk_entries' pk=user.pk %}">Articles</a>

	<hr id = "titlehr">	
	{% if user.userprofile.image %}
	<img src="{{user.userprofile.image.url}}" width = "240">
	{% endif %}
        
        
        {% endblock %}
        {% block second %}
    
        {% endblock %}
    {% endblock %}
