<html>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/static/accounts/styles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="utf-8">
    
    {% block head %}
    <title>Home</title>
    {% endblock %}

       <body> 
        <nav class="navbar navbar-fixed-top">
         <div class="container-fluid">
           
             <div class="navbar-header">
                 <div class="navbar-brand">
                 {% load static %}
                     <a id = "brand" href="{% url 'home:home' %}"><i class="fa fa-code fa-lg"  aria-hidden="true"></i></a>
                 </div>
             </div>
             {% if user.is_authenticated %}
             <ul class="nav navbar-nav navbar-right">   
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></a>
                     <ul class="dropdown-menu">
                         <div class="w3-container w3-center w3-animate-left">
                         <hr id="navhr">
                         </div>
                         <li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
                         <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                         <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
                         <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                     </ul>
                 </li>
             </ul>
           
               
         </div>
         {% endif %}    
        </nav>
       
       
        <div class = "row">
            <div class="container"> 
                <div id = "first" class ="col-md-10">
                    {% block first %}{% endblock %}
                </div>
               
                <div id = "second" class = "col-md-2">
                    <form action="{% url 'home:search' %}" method="get">
			<input type="search" id="title" name="title" placeholder="Search..."/>
                        <input type="submit" value="Submit">
                    </form>
                <hr>

               
		<select name="menu"  id = "selectdate"></select>	
                    
		           
                    {% block second %}{% endblock %}
            
                </div>
            </div>
        </div>
            
       
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/cdfd602f6e.js"></script>
	<link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
     

        

    
	<script>//loop through each element i, if youre not at the last iteration of the forloop, put a comma after each element. So is this the same as saying put comma at the end of every element in q except the last one?
		var n =[{% for el in q %}"{{ el|safe }}"{% if not forloop.last %},{% endif %}{% endfor %}];
                
                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
		
		var dynamicSelect = document.getElementById("selectdate");
	
		n.forEach(function(entry){
			var a = new Date(entry);

		 	var amonth = months[a.getMonth()];
			var ayear = a.getFullYear();
			var c = amonth + " " + ayear;
		
			var newOption = document.createElement("option");
			newOption.text = c;
			dynamicSelect.add(newOption);
			var selectOption = dynamicSelect.options[dynamicSelect.selectedIndex];
			var lastSelected = localStorage.getItem('dynamicSelect');

			if(lastSelected) {
			    dynamicSelect.value = lastSelected; 
			}

			dynamicSelect.addEventListener("change", function(){
			   lastSelected = dynamicSelect.options[dynamicSelect.selectedIndex].value;
			   localStorage.setItem('dynamicSelect', lastSelected);
				})				
			});
			
			
		document.getElementById("selectdate").addEventListener("click", function(){
			
			var url  = "{% url 'home:blogpost_month_archive' year=2018 month='Feb' %}";
			var year = $(this).val().slice(4,8);
			var month = $(this).val().slice(0,3);
			document.location.href = url.replace('2018', year).replace('Feb', month);
		
	 		 				
					});

	</script>








                    
        {% block javascript %}
        {% endblock %}
        <footer>
            <p>© MRK 2018</p>
        </footer>
    </body>
</html>


<html>
  
    
