.eznav{
    margin-bottom:50px;
    margin-top:40px;
    color:rgb(156, 154, 154);
    font-family: 'Orbitron', sans-serif;
    font-size:15px;
    text-transform: uppercase;
}

#bcrumb{
    padding:2px;
}

#bcrumb a:hover{
    text-decoration: none;
    color:black;
    transition-timing-function: ease-in-out;
    transition-duration:0.1s;
    }

.fa.fa-angle-right{
    font-size:12px;
    padding:6px;
 
}

#first h1{
    font-family: 'Orbitron', sans-serif;
    }

.form-group{
    width:300px;
    font-family: 'Orbitron', sans-serif;
    font-size:10px;
    position:static;
    top:100px;
    left:100px;
}

.form-group small{
    color:grey;
    font-size:12px;
    font-family: 'Saira', sans-serif;
}
.errorlist{
    color:red;
}





