.eznav{
    margin-bottom:50px;
    margin-top:40px;
    color:rgb(156, 154, 154);
    font-family: 'Orbitron', sans-serif;
    font-size:15px;
    text-transform: uppercase;
}

#bcrumb{
    padding:2px;
}

#bcrumb a:hover{
    text-decoration: none;
    color:black;
    transition-timing-function: ease-in-out;
    transition-duration:0.1s;
    }

.fa.fa-angle-right{
    font-size:12px;
    padding:6px;
    
}


#first h1{
    font-family: 'Orbitron', sans-serif;
    text-transform : uppercase;
}


#first #fullname {
    font-size:10px;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;

    
}

#titlehr{
	position:relative;
	margin-top:5px;
	width:500px;
	padding:0px;

}

#first #articlelink{

	font-family: 'Orbitron', sans-serif;
	text-decoration:none;
	font-size:11px;


}


  
@media only screen and (max-width: 768px) {


#titlehr{
	position:relative;
	margin-top:5px;
	width:200px;
	padding:0px;

}}
