#first p{
    font-family: 'Saira', sans-serif;
    font-size:20px;
    width:700px;
    
}

#first{
    margin-top:40px;
}

#first a{

    color:red;
    text-transform:uppercase;
    text-decoration:none;


}
@media only screen and (max-width: 768px) {
  
 
  #first p{
  max-width:300px;
  font-size:20px;
  }
}
