
#first{
    margin-top:40px;
    
    } 
    
#first p{
    font-family: 'Saira', sans-serif;
    font-size:20px;
    width:700px;
    }



@media only screen and (max-width: 768px) {
  

    #first p{
        width:320px;
    }
    
 }  
