#first p{
    font-family: 'Orbitron', sans-serif;
    font-size:20px;
    width:700px;
    
}
#first{
	margin-top:40px;
}

.form-group{
    width:300px;
    font-family: 'Orbitron', sans-serif;
    font-size:14px;
}



#subby{
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top:0px;
    padding-bottom:0px;
    text-transform: uppercase;


}

@media only screen and (max-width: 768px) {
  
 
  #first p{
  max-width:300px;
  font-size:20px;
  }
}
