#first h3{
    font-family: 'Saira', sans-serif;
    font-size:25px;
    font-weight:bold;
    position:relative;
    bottom:10px;

}

#first p{
    font-family: 'Saira', sans-serif;
    font-size:20px;
    width:700px;
    
}
#first{
	margin-top:40px;
}

.form-group{
    width:300px;
    font-family: 'Saira', sans-serif;
    font-size:20px;
}

#sub{
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    width:90px;
    height: 25px;
    text-align: center;
    line-height: 15px;
    padding:1px 1px;

}

@media only screen and (max-width: 768px) {
  
 
  #first p{
  max-width:300px;
  font-size:20px;
  }
}
